/* ========== KEYFRAMES ========== */

@keyframes fallFast {
  0% {
    opacity: 0;
    transform: translateY(-500px) rotateZ(30deg);
  }
  30% {
    opacity: 1;
    transform: translateY(15px) rotateZ(0deg);
  }
  60% {
    transform: translateY(-10px) rotateZ(0deg);
  }
  80% {
    transform: translateY(5px) rotateZ(0deg);
  }
  100% {
    transform: translateY(0px) rotateZ(0deg);
  }
}

@keyframes fallSlow {
  0% {
    opacity: 0;
    transform: translateY(-500px) rotateZ(30deg);
  }
  30% {
    opacity: 1;
    transform: translateY(15px) rotateZ(0deg);
  }
  60% {
    transform: translateY(-10px) rotateZ(0deg);
  }
  80% {
    transform: translateY(5px) rotateZ(0deg);
  }
  100% {
    transform: translateY(0px) rotateZ(0deg);
  }
}

@keyframes lightspeedInRight {
  0% {
    transform: translateX(300px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) skewX(0deg);
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounceUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


/* ========== CLASS NAMES ========== */

.fall-fast {
  animation: fallFast 1s ease-out forwards;
}

.fall-slow {
  animation: fallSlow 1.8s ease-out forwards;
}

.lightspeed-in-right {
  animation: lightspeedInRight 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.bounce-in {
  animation: bounceIn 0.3s ease-out forwards;
}
.bounce-up {
  animation: bounceUp 1s ease-in-out infinite
}
