
.difficulty-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; /* corresponds to MENU_BUTTON_MARGIN_TOP */
}

.difficulty-button {
  padding: 0px 60px; /* MENU_BUTTON_PADDING_VERTICAL and HORIZONTAL */
  border-radius: 65px; /* MENU_BUTTON_BORDER_RADIUS */
  border: 6px solid rgb(37, 34, 30); /* MENU_BUTTON_BORDER */
  box-shadow: 0px 9px 0px rgb(117, 109, 95); /* shadow properties */
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3rem; /* menuButton font size */
  font-weight: 900;
  color: rgb(255, 255, 255); /* MENU_BUTTON_TITLE */
  letter-spacing: 1px; /* LETTER_SPACING_SMALL */
  text-align: center;
  text-shadow: 2px 2px 0px #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}

.easy-button {
  background-color: rgba(137, 166, 137, 1);
}

.normal-button {
  background-color: rgba(230, 208, 139, 1);
}

.hard-button {
  background-color: rgba(157, 85, 78, 1);
}

.easy-button:hover {
  background-color: rgb(165, 195, 165);
}

.normal-button:hover {
  background-color: rgb(236, 218, 165);
}

.hard-button:hover {
  background-color: rgb(171, 97, 91);
}

.difficulty-text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.difficulty-label {
  width: 220px; /* RESUME_ICON_SIZE */
  height: 120px;
}


