/* ================== Difficulty Screen Styles ================== */

.difficulty-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.difficulty-button {
  padding: 0px 60px;
  border-radius: 65px;
  border: 6px solid rgb(3, 3, 2);
  box-shadow: 0px 9px 0px rgb(117, 109, 95);
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 2px 2px 0px #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}

/* ====== Difficulty Variants ====== */
.easy-button {
  background-color: rgba(137, 166, 137, 1);
}

.normal-button {
  background-color: rgba(230, 208, 139, 1);
}

.hard-button {
  background-color: rgba(157, 85, 78, 1);
}

/* ====== Hover States ====== */
.easy-button:hover {
  background-color: rgb(165, 195, 165);
}

.normal-button:hover {
  background-color: rgb(236, 218, 165);
}

.hard-button:hover {
  background-color: rgb(171, 97, 91);
}

/* ====== Layout ====== */
.difficulty-text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ====== Label Image ====== */
.difficulty-label {
  width: 220px;
  height: 120px;
}
