/* ================== Score & Pops Layout ================== */
.score-pops {
  display: flex;
  justify-content: center;
  position: relative;
  top: -55px;
  gap: 30px;
}

/* ================== Game Board Base Styles ================== */
.game-board {
  background-color: rgb(247, 241, 237);
  border: 2.5px solid rgba(27, 25, 24, 1);
  border-radius: 30px;
  height: 70px;
  text-align: center;
  box-shadow: 0 8px 0px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
}

/* ================== Theme Variants ================== */
.nature {
  background-color: rgb(240, 242, 228);
  color: rgb(43, 40, 33);
}

.food {
  background-color: rgb(233, 219, 206);
  color: rgb(35, 32, 32);
}

.animals {
  background-color: rgb(237, 243, 246);
  color: rgb(37, 35, 32);
}

.story {
  background-color: rgba(250, 240, 230, 1);
  color: rgba(44, 33, 25, 1);
}

/* ================== Game Board Text ================== */
.game-board h2 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.game-board p {
  font-family: "Montserrat";
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}
