.App {
  text-align: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  color: rgb(46, 46, 43);
}
.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-title {
  position: relative;
  top: -40px;
  font-size: 4.3rem;
  font-family: 'Montserrat';
  font-weight: 900;
  margin: 0;
}

.App-subtitle {
  position: relative;
  top: -45px;
  margin-top: 0;
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 500;
}

.game-area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.target-word-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -5px;
  top: -37px;
}

.default-target-word {
  color: rgb(46, 46, 43) !important;
  text-shadow: none !important;
}

.target-word-title{
  font-family: 'Montserrat';
  color: white;
  text-shadow: 1px 1.5px 0px black;

}
.target-word {
  font-family: 'Montserrat';
  color: white;
  text-shadow: 1px 3px 0px black;
}

.target-word-title {
  font-size: 1.7rem;
  margin-bottom: -5px;
}

.target-word {
  font-size: 4.4rem;
  font-weight: bold;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  top: -30px;
}

.button-group button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  font-size: 1.6rem;
  font-family: 'Montserrat';
  font-weight: 900;
  border-style: solid;
  border-radius: 27px;
  box-shadow: 0 5px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  color:rgb(51, 50, 46);

}

.button-group button:hover {
  background-color: #f0f0f0;
}

.new-game-button {
  background-color: rgba(224, 224, 224, 1);
}

.menu-button {
  background-color: rgba(197, 196, 196, 1);
}

.back-button {
  background-color: none;
  border: none;
  cursor: pointer;
}

.back-button-icon {
  position: absolute;
  width: 100px;
  height: 100px;
}