
.menu-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 85px; /* corresponds to MENU_BUTTON_MARGIN_TOP */
}

.sound-button {
  background: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  color: rgb(59, 58, 55);

}

.menu-screen-button {
  padding: 16px 32px; /* MENU_BUTTON_PADDING_VERTICAL and HORIZONTAL */
  border-radius: 40px; /* MENU_BUTTON_BORDER_RADIUS */
  border: 3px solid #2a2621; /* MENU_BUTTON_BORDER */
  background-color: rgba(247, 244, 239, 1); /* MENU_SCREEN_BUTTON_BG */
  box-shadow: 0px 9px 0px rgba(147, 138, 117, 0.6); /* shadow properties */
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3rem; /* menuButton font size */
  font-weight: 900;
  color: rgb(59, 58, 55); /* MENU_BUTTON_TITLE */
  letter-spacing: 1px; /* LETTER_SPACING_SMALL */
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 25px;
}

.resume-button {
  font-size: 3.2rem;
  border-radius: 45px;
}

.menu-screen-button:hover {
  background-color: #fffdfa;
}

.social-media-button-group{
  margin-top: 40px;

}
.social-media-button{
  background-color: transparent;
  border: none;
  padding: 30px;
}
.social-media-button-icon{
  width: 80px;
  height: 80px;
}


.menu-text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
