/* ================== Menu Layout ================== */
.menu-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 85px;
}

.menu-text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ================== Sound Button ================== */
.sound-button {
  background: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  color: rgb(59, 58, 55);
}

/* ================== Menu Screen Buttons ================== */
.menu-screen-button {
  padding: 16px 32px;
  border-radius: 40px;
  border: 3px solid #2a2621;
  background-color: rgba(247, 244, 239, 1);
  box-shadow: 0px 9px 0px rgba(147, 138, 117, 0.6);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3rem;
  font-weight: 900;
  color: rgb(59, 58, 55);
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 25px;
}

.resume-button {
  font-size: 3.2rem;
  border-radius: 45px;
}

.menu-screen-button:hover {
  background-color: #fffdfa;
}

/* ================== Social Media Buttons ================== */
.social-media-button-group {
  margin-top: 40px;
}

.social-media-button {
  background-color: transparent;
  border: none;
  padding: 30px;
}

.social-media-button-icon {
  width: 80px;
  height: 80px;
}
