.tile {
  position: absolute;
  width: calc(var(--pixel-size) * 10.2);
  height: calc(var(--pixel-size) * 10.2);
  font-size: calc(var(--pixel-size) * 4);
  line-height: calc(var(--pixel-size) * 10.2); /* matches height */
  font-weight: bold;
  text-align: center;
  transition-property: left, top, transform;
  transition-duration: 200ms, 200ms, 100ms;
  color: white;
  text-shadow: 1px 2px 0px black
}

@media (min-width: 512px) {
  .tile {
    width: calc(var(--pixel-size) * 12.2);
    height: calc(var(--pixel-size) * 12.2);
    font-size: calc(var(--pixel-size) * 6);
    line-height: calc(var(--pixel-size) * 12.2); /* matches height */
    border-radius: 20px;
    box-shadow: inset 0 0 0 4px black;
  }
}
